---
title: Wyoming Hackathon - Blockchain Stampede - WyoHackathon 2019
layout: default
---
<section class="bg-video text-light p-0 o-hidden jarallax" data-jarallax-video="" data-speed="1" data-type="scroll-opacity" style="background-image: url(assets/img/article-hackathon.jpg); background-size: cover; background-color: #8B0E04;">
  <div class="container layer-2">
    <div class="row mt-3">
      <a href="/" class="btn btn-outline-primary">&larr; Home</a>
    </div>
    <div class="row mb-3 min-vh-80 align-items-center" data-aos="fade-up">
      <!--<a target="_blank" href="assets/img/article-dcent-competition-info2.png" class="featured-competition">
        <img class="img-fluid" src="assets/img/article-dcent-competition2.png" alt="D'CENT Competition Badge" />
      </a>-->
      <div class="decoration-wrapper">
        <div class="decoration rect-white">
          <img src="assets/img/decorations/element1.png" alt="decoration" />
        </div>
        <div class="decoration rect-orange" style="opacity: 0.3;">
          <img src="assets/img/decorations/element2.png" alt="decoration" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="py-3 text-center">
          <img class="img-fluid" src="assets/img/logo.svg" alt="WyoHackathon 2019 Logo" data-inject-svg />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="py-3 bg-primary-landing d-none d-md-block">
          <div id="breakin" style="width: 28rem;">Wyoming</div>
          <div id="through" style="width: 32rem;">Hackathon</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="background-color: #8B0E04; width:100%; height: 90px; text-align:right;">
  <h2 class="display-6" style="padding:10px 20px 0 0; color:#fff !important; font-size: 4.3rem;"><em>9/20 3pm - 9/22 12pm</em></h2>
</div>
<section style="background-color: #fff; padding-top:15px; padding-bottom: 0px;">
  <div style="margin:0 20px 0 20px;">
    <div class="row">
      <div class="col-md-2 mb-7 mb-md-0 icon" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/logos/events/wyohackathon.svg" alt="icon" data-inject-svg style="width:100%;"/>
      </div>
      <div class="col-md-10 mb-3 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <h3>WYOHACKATHON</h3><h3>
CELEBRATING WYOMING’S BLOCKCHAIN LEADERSHIP</h3>
        <p>September 20 (3pm) - September 22 (12pm)</p>
        <p class="pr-lg-4 mt-3">
          The 2019 WyoHackathon provides an opportunity for the global blockchain community and the
State of Wyoming to converge, thank each other, collaborate, celebrate and keep Breakin&#39;
Through.</p><p>
The WyoHackathon is a celebratory blockchain event for developers, entrepreneurs and
established companies to experience the blockchain community, create amazing innovations
and learn about the opportunities with blockchain technology and the new Wyoming
legislation, while connecting with like-minded people.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="hackathon-challenges" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col bg-primary-landing">
        <h2 class="h1 figure">Challenges</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <ul class="list-unstyled">
          <li><a target="_blank" href="assets/img/article-dcent-competition-info.jpg">WyoHackathon D'CENT Biometric Wallet Video Competition - $10,000 bounty</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="hackathon-speakers" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col bg-primary-landing">
        <h2 class="h1 figure">Speakers</h2>
      </div>
    </div>
    <div class="row">
      {% include speakers.html event="hackathon" %}
    </div>

    <div class="row mb-1">
      <div class="col">
        <h3 class="h2">Opening Speakers</h3>
      </div>
    </div>
    <div class="row">
      {% include speakers.html event="hackathon-opening" %}
    </div>
  </div>
</section>
<section id="hackathon-agenda">
  <div class="container">
    <div class="row mb-4">
      <div class="col-3 col-md-4"></div>
      <div class="col bg-primary-landing">
        <h2 class="h1 figure">Agenda</h2>
      </div>
      <div class="col-4"></div>
    </div>
    {% include agenda.html event="hackathon" %}
  </div>
</section>
<section id="hackathon-information" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col bg-primary-landing">
        <h2 class="h1 figure">Official Information</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <!--<ul class="list-unstyled">-->
        <ul>
          <li><a target="_blank" href="assets/pdf/WyoHackathon.2019.Official.Rules.-.revA.pdf">WyoHackathon 2019 Official Rules</a></li>
          <br>
          <li><a target="_blank" href="assets/pdf/WyoHackathon.2019.Code.of.Conduct.revA.pdf">WyoHackathon 2019 Code of Conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include event_subfooter.html %}
