---
title: Sandcastle Invitational - Blockchain Stampede - WyoHackathon 2019
layout: default
---
<section class="bg-video text-light p-0 o-hidden jarallax" data-jarallax-video="" data-speed="1" data-type="scroll-opacity" style="background-image: url(assets/img/article-sandcastle.jpg); background-size: cover; background-color: #333;">
  <div class="container layer-2">
    <div class="row mt-3">
      <a href="/" class="btn btn-outline-primary">&larr; Home</a>
    </div>
    <div class="row mb-3 min-vh-80 align-items-center" data-aos="fade-up">
      <div class="decoration-wrapper">
        <div class="decoration rect-white">
          <img src="assets/img/decorations/element1.png" alt="decoration" />
        </div>
        <div class="decoration rect-orange" style="opacity: 0.3;">
          <img src="assets/img/decorations/element2.png" alt="decoration" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="py-3 text-center">
          <img class="img-fluid" src="assets/img/logo.svg" alt="WyoHackathon 2019 Logo" data-inject-svg />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="py-3 bg-primary-landing d-none d-md-block">
          <div id="breakin" style="width: 32rem; height: 7rem; line-height: 7rem; font-size: 7rem;">Sandcastle</div>
          <div id="through" style="width: 33rem; height: 7rem; line-height: 7rem; font-size: 7rem;">Invitational</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="background-color: #333; width:100%; height: 90px; text-align:right;">
  <h2 class="display-6" style="padding:10px 20px 0 0; color:#fff !important; font-size: 4.3rem;"><em>9/22 12pm - 5pm</em></h2>
</div>
<section style="background-color: #fff; padding-top:15px; padding-bottom: 0px;">
  <div style="margin:0 20px 0 20px;">
    <div class="row">
      <div class="col-md-2 mb-7 mb-md-0 icon" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/logos/events/sandcastle.svg" alt="icon" data-inject-svg style="width:100%;"/>
      </div>
      <div class="col-md-10 mb-3 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <h3>SANDCASTLE INVITATIONAL CHALLENGE</h3>
        <p>September 22, 2019 12pm - 5pm</p>
        <p class="pr-lg-4 mt-3">
          Some winners of WyoHackathon 2019 will join other vetted blockchain startups in
          the <a href="https://sandcastle.foundation" target="_blank">Sandcastle Invitational Challenge</a>.</p>
        <p>Sandcastle is seeking the best and most promising blockchain startups the world over to
compete during Dubai2020 in the finale Sandcastle Challenge.  Two winners from the Wyoming
Blockchain Stampede will earn two of the 16 slots to compete in EXPO2020 Dubai.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="sandcastle-speakers" style="padding-bottom: 10px;">
  <div class="container">
    <div class="row mb-4">
      <div class="col-3 col-md-4"></div>
      <div class="col bg-primary-landing">
        <h2 class="h1 figure">Speakers</h2>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      {% include speakers.html event="sandcastle" %}
    </div>
  </div>
</section>

{% include event_subfooter.html %}
