{% for day in site.data.agendas[include.event] %}
  <div class="row mt-3">
    <div class="col">
      <h5 class="eventtext">{{day.day}}</h5>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <p>{{day.summary}}</p>
    </div>
  </div>

  {% for item in day.items %}
    <div class="row undrln">
      <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="100">
        <p>{{item.start}} - {{item.end}}</p>
      </div>
      <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="100">
        <p>Speaker: {{item.speaker}}</p>
      </div>
      <div class="col-12 col-md-8 mb-3" data-aos="fade-up" data-aos-delay="100">
        <p>{{item.title}}</p>
      </div>
    </div>
  {% endfor %}
{% endfor %}
