<footer class="pb-4 bg-primary-3 text-light" id="{{include.id | default: "footer"}}">
  <div class="container">
    {% if include.extra_content %}
      {{include.extra_content}}
    {% endif %}

    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="https://www.twitter.com/wyohackathon" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="https://t.me/WyoHackathon" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/social/telegram.svg" alt="telegram social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/wyohackathon/" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/social/linkedin.svg" alt="linkedin social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="https://www.facebook.com/wyohackathon" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/social/facebook.svg" alt="facebook social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="https://www.instagram.com/wyohackathon/" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/social/instagram.svg" alt="instagram social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" href="mailto:wyohackathon@gmail.com" class="nav-link">
              <img class="icon undefined" src="assets/img/icons/theme/communication/mail-at.svg" alt="email icon" data-inject-svg />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">Designed by: <a target="_blank" rel="noopener" href="https://bluchair.com/">bluchair.com</a> | Sponsored by: <a target="_blank" rel="noopener" href="https://hund.io/">Hund.io</a></small>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">&copy; 2019 | All Rights Reserved | <a target="_blank" rel="noopener" href="https://www.uwyo.edu/">University of Wyoming</a></small>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-anchor="section:last-of-type" data-aos-mirror="true" data-aos-once="false">
  <img class="icon" src="assets/img/icons/theme/navigation/arrow-up.svg" alt="arrow-up icon" data-inject-svg />
</a>
