p {
   font-weight: normal !important;
}

.form-text {
   font-weight: normal !important;
   color: #000;
   font-size: 16px !important;
}

.form-description {
   font-weight: normal !important;
   color: #000;
   font-size: 12px !important;
}
h4.form-text {
   font-size: 24px !important;
}

.form-input input {
	border-color: black;
}