<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{page.title | default: "WyoHackathon 2019"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description | default: 'The WyoHackathon is a celebratory blockchain event for developers, entrepreneurs and established companies.'}}">
    <meta name="theme-color" content="#77160c"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wyohackathon.io/">
    <meta property="og:title" content="{{page.title | default: "WyoHackathon 2019"}}">
    <meta property="og:description" content="{{page.description | default: 'The WyoHackathon is a celebratory blockchain event for developers, entrepreneurs and established companies.'}}">
    <meta property="og:image" content="https://wyohackathon.io/assets/img/logos/manifest/social.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://wyohackathon.io/">
    <meta property="twitter:title" content="{{page.title | default: "WyoHackathon 2019"}}">
    <meta property="twitter:description" content="{{page.description | default: 'The WyoHackathon is a celebratory blockchain event for developers, entrepreneurs and established companies.'}}">
    <meta property="twitter:image" content="https://wyohackathon.io/assets/img/logos/manifest/social.png">
    <link href="assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logos/manifest/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/logos/manifest/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/logos/manifest/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-Cond.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-It.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-Semibold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-SemiboldIt.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="assets/fonts/MyriadPro-Bold.woff2" type="font/woff2" crossorigin="anonymous">
  </head>

  <body>
    <div class="loader">
      <div class="loading-animation"></div>
    </div>

    {{content}}

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="icon bg-dark" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
            </button>
            <div class="m-xl-4 m-3">
              <div class="text-center mb-4">
                <h4 class="h3 mb-1">Register Now</h4>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3 mb-md-0 mb-lg-0 text-center">
                  <a rel="noopener" href="https://submit.wyohackathon.io" class="btn btn-secondary">All Competitors<br><small>&amp; Most Others</small></a>
                </div>
                <div class="col-md-6 text-center">
                  <a rel="noopener" href="https://forms.gle/Rbtt1rargyRnEBdt9" class="btn btn-secondary">Non-Competitors<br><small>Who Find Tech Hard</small></a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr/>
                  <p>DISCLAIMER: The current state usability with blockchains reflects its nascent technology. To register you’ll need a GitHub account for Kovan Test Net and a KFS Keystore. All WyoHackathon competitors MUST sign-up in this manner.</p>
                  <p>We encourage ALL to sign-up this way to experience what early stage technology is like before it gets improved with ease-of-use for the mainstream. The tech is decentralized.</p>
                  <p>HOWEVER, if you find this tech hard, and are NOT competing in the WyoHackathon but are coming for other events, you can use the Non-Competitors centralized tech form.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
      window.addEventListener("load", function () {
        document.querySelector('body').classList.add('loaded');
      });
    </script>

    <!-- Status widget -->
    <script src="https://libraries.hund.io/status-js/status-3.8.2.js"></script>

    <!--script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 41.32, lng: -105.58};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8ypDgO18h0IpvXUCP8_LBdhjWY_PTnvo&callback=initMap">
    </script-->

  </body>

</html>
